[submodule "GraAFLCollector"]
	path = GraAFLCollector
	url = https://github.com/NoG4Ek/GraAFLCollector
[submodule "JBWJ"]
	path = JBWJ
	url = https://github.com/NoG4Ek/JBWJ
[submodule "SortExceptions"]
	path = SortExceptions
	url = https://github.com/NoG4Ek/SortExceptions
[submodule "WinAFLHarness"]
	path = WinAFLHarness
	url = https://github.com/NoG4Ek/WinAFLHarness
